{% load static %}

{% block footer_alt %}
<!-- Start footer-alt -->
<footer class="footer footer-bar bg-black">
    <div class="container text-foot text-center">
        <p class="mb-0 text-white-50">© <script>document.write(new Date().getFullYear())</script> Queue. Design by <a href="javascript:void(0)" class="text-white-50">Zoyothemes</a></p>
    </div>
    <!-- End Container -->
</footer>
<!-- End footer-alt -->

<a href="javascript: void(0);" class="back-to-top btn btn-icon btn-soft-primary" id="back-to-top" onclick="topFunction()">
    <i data-feather="arrow-up" class="icons"></i>
</a>
<!-- Back to top -->
{% endblock footer_alt %}