{% load static %}
{% block javascript %}

    <!-- Javascript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- testi-slider -->
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/tiny-slider-init.js' %}"></script>

    <!-- MK Lightbox -->
    <script src="{% static 'js/mklb.js' %}"></script>

    <!-- Contact -->
    <script src="{% static 'js/contact.js' %}"></script>

    <!-- Counter init -->
    <script src="{% static 'js/counter.init.js' %}"></script>

    <!-- Feather icon -->
    <script src="{% static 'js/feather.min.js' %}"></script>

    <!-- app js -->
    <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}