{% load static %}
{% block javascript %}

    <!-- Javascript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Progressive enhancement -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.4/dist/htmx.min.js"></script>

    <!-- testi-slider -->
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/tiny-slider-init.js' %}"></script>

    <!-- MK Lightbox -->
    <script src="{% static 'js/mklb.js' %}"></script>

    <!-- Counter init -->
    <script src="{% static 'js/counter.init.js' %}"></script>

    <!-- Feather icon -->
    <script src="{% static 'js/feather.min.js' %}"></script>

    <!-- app js -->
    <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
