{% extends 'landing-layout.html' %}
{% load static %}

{% block content %}
    {% include "partials/navbar.html" with nav_class='navbar-dark' %}
    {% include "hero/hero-5.html" %}
{% endblock content %}

{% block extra_javascript %}
    <!-- Partical Js -->
    <script src="{% static 'js/particles.js' %}"></script>  
    <script src={% static 'js/particles.app.js' %}></script>

    <!-- Typed -->
    <script src="{% static 'js/typed.js' %}"></script>
    <script src="{% static 'js/typed.init.js' %} "></script>
{% endblock extra_javascript %}