{% load static %}
{% block hero %}

<!-- Hero Area -->
<div class="hero-area position-relative bg-half-120 hero-page" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 align-items-center text-center">
                <div class="title-heading mt-4 pb-60">
                    <img src="{% static 'images/pal.png' %}" class="img-fluid rounded-circle" alt="">
                    <h1 class="heading font-36 text-white mt-4">Here I'am Queue Downey</h1>
                    <h6 class="designation mb-3 text-white">I'm a Passionate <span class="text-primary">Web Designer</span></h6>
                    <div class="hero-btn mt-4 pt-2">
                        <a href="javascript:void(0)" class="btn btn-primary rounded me-2 mb-2">Hire Me</a>
                        <a href="javascript:void(0)" class="btn btn-primary rounded text-white mb-2">Download CV <i data-feather="download" class="fea icon-sm"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card public-profile border-0 rounded shadow no-margin" style="z-index: 1;">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-4 text-md-start">
                                <div class="about-details key-feature bg-light">
                                    <div class="media-body content">
                                        <h6 class="title mb-2">Personal Details</h6>
                                        <div class="bor-bottom mt-2 mb-2"></div>
                                        <p class="text-muted mb-2 mt-3 font-14"><a href="javascript:void(0)" class="text-black">Email: </a> queue@gmail.com</p>
                                        <p class="text-muted mb-2 font-14"><a href="javascript:void(0)" class="text-black">Languages: </a> English</p>
                                        <p class="text-muted mb-0 font-14"><a href="javascript:void(0)" class="text-black">Nationality: </a> Australian</p>  
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-8">
                                <div class="row align-items-end">
                                    <div class="col-md-12 text-md-start mt-4 mt-sm-0">
                                        <h4 class="heading me-2">I Am <span class="element text-primary" data-elements="Web Designer, Web Developer, Photographer"></span>
                                            <span id="typed" class="text-primary"></span>
                                        </h4>
                                        <p class="text-light-muted mt-2">Obviously I'm a Web Designer. Web Developer with over 3 years of experience. 
                                            Experienced with all stages of the development cycle for dynamic web projects. 
                                            The as opposed to using 'Content here, content here', making it look like readable English.</p>
                                        <img src="{% static 'images/signature.png' %}" height="35" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</section>
<!-- End Section -->

{% endblock hero %}